<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>첫 페이지 생성!</h1>
  <p>이름은 : {{ name }}</p>
  <p>점심 메뉴 리스트 : {{ lunchs }}</p>
  <p>점심 메뉴 리스트 : {{ lunchs.0 }}</p>
  <p>넘겨받은 단어는 : {{word}}</p>
  <p>lower filter 적용: {{word|lower}}</p>
  <p>long 글자 7개 자르기: {{longword|truncatechars:7}}</p>

  {% for lunch in lunchs %}
    <p>리스트 : {{lunch}}</p>
  {% endfor %}

  {% if flag == 0 %}
    flag 는 0입니다
  {% elif flag == 1 %}
    flag 는 1 입니다
  {% else %}
    flag 는 0입니다
  {% endif %}

</body>
</html>